
.search-and-icon{
  position: relative;
}

.search-suggested-modal{
  position: absolute;
  top: 55px;
  border: 1px solid 	#DCDCDC;
  box-shadow: 0px 0px 1px 1px #222;
  border-radius: 3px;
  z-index: 5;
  background: white;
  width: 100%;
  padding: 10px;
}

.searchbar-submit{
  height: 0px;
}

.suggested-search-header{
  font-weight: bold;
}

.suggested-search-term{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.highlighted-term{
  background : gray;
}