.sr-container{
  width: 90%;
  max-width: 1260px;

  margin: 0 auto;
  // margin-top: 30px;
  margin-bottom: 30px;
}

// ----------------------------------------------------------------------------------------------------------------------------------------------------------------

.sr-filters{
  min-width: 150px;
}

.sr-filter-item{
  display: flex;
}

.sr-filter-item > p{
  font-family: 'Arimo';
  color: #222;
  font-size: 12px;
  margin-bottom: 5px;
}

.sr-filter-item-header{
  font-size: 14px;
  font-family: 'Arimo';
  color: #222;
  margin-top: 10px;
  margin-bottom: 3px;
}

// ----------------------------------------------------------------------------------------------------------------------------------------------------------------
// .sr-tags{
//   height: 30px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin-bottom: 20px;
// }

.search-result-tags-container{
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
}

// .sr-tags > ul{
//   width: 100%;
//   height: 100%;
//   display: flex;
// }

// .sr-tag{
//   margin-right: 10px;
//   height: 100%;
//   text-align: center;
//   font-size: 14px;
//   background: #fa9c71;
//   border-radius: 15px;
//   padding: 5px 15px;
//   box-sizing: border-box;
//   transition: background .3s, box-shadow .3s;
// }

.search-result-tag{
  height: 35px;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  background: #fa9c71;
  transition: all .3s;
}

.search-result-tag:not(:first-child){
  margin-left: 5px;
}

.search-result-tag:not(:last-child){
  margin-right: 5px;
}

.search-result-tag > p{
  font-size: 12px;
}

.search-result-tag:hover{
  box-shadow: 0px 0px 1px #222;
  background: #f76c2d;
  cursor: pointer;
}

// .sr-tag-p{
//   line-height: 20px;
//   font-family: 'Arimo';
// }


.sr-main{
  display: flex;
  min-height: 500px;
}

.sr-products{
  display: flex;
  flex-wrap: wrap;
}

.sr-products-header{
  display: flex;
  margin-left: 10px;
  margin-bottom: 15px;
}
.sr-products-and-header{
  width: 100%;
}

.sr-products-header > p{
  font-family: 'Arimo';
  color: #222;
  font-size: 12px;
}

#srph-one{
  margin-right: 5px;
}

#srph-two{
  margin-right: 5px;
  font-weight: bold;
}

#srph-three{
  margin-right: 5px;
}