.standard-product-preview-container{
  width: 215px;
  height: 230px;

  display: flex;
  flex-direction: column;
}

.standard-product-preview-container:not(:last-child){
  margin-right: 7px;
}

.standard-product-preview-container:not(:first-child){
  margin-left: 7px;
}

.standard-product-preview-photo-container{
  position: relative;

  width: 100%;
  height: 0px;

  float: left;

  padding-bottom: 90%;

  margin-bottom: 5px;
}

.standard-product-preview-photo{
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0px;

  border-radius: 3px;

  object-fit: cover;

  transition: all .3s;
}

.standard-product-preview-photo:hover{
  box-shadow: 0 0 8px 3px #D8D8D8;
  cursor: pointer;
}