.bordered-nav-button{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 20px;
  transition: all .3s;
}

.bordered-nav-button:hover{
  border-width: 3px;
  box-shadow: 0 0 11px 5px 	#E8E8E8;
  cursor: pointer;
}

.bordered-nav-button > p{
  font-size: 12px;
}