.trending-item-container{
  transition: box-shadow 0.5s;
  padding-bottom: 20px;
  text-decoration-color: #222;
}

.trending-item-container:hover{
  box-shadow: 0 0 4px #222;
  text-decoration: underline;
  text-decoration-color: #222;
}

.trending-item-image{
  width: 18vw;
  height: 18vw;
  object-fit: cover;
  border-radius: 3px;
}

.trending-item-info{
  margin-top: 20px;
  font-family: 'Arimo';
  font-size: 12px;
  color: #222;
  text-align: center;
}

#trending-item-info-item-name{
  font-size: 14px;
  margin-bottom: 5px;
}