@import '../_body_vars';

.advert-top-container{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.advert-container{
  width: 100%;
  max-width: $max-content-width;
  height: 500px;

  padding-top: 30px;
}

#advert-subheader{
  width: 100%;

  margin: 10px 0;

  text-align: center;
  font-size: 24px;
}