.category-container{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 1240px;
  height: 26px;

  padding: 0px 10px 5px 10px;
}

.category-h{
  font-size: 13px;
  font-weight: 300;
  color:	#222;
  // font-family: Helvetica;
  font-family: 'Arimo';
}

#gift i{
  padding: 5px;
}

.category-h p{
  font-size: 14px;
  color:#222;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: 'Arimo';
  // padding-left: 10px;
}

.category-details{
  width: 100%;
  align-content: flex-start;
  margin-left: 20px;
  margin-top: 10px;
}

.category-details p{
  font-family: 'Arimo';
  font-weight: 300;
  color:#222;
  font-size: 14px;
}

.gift-nav{
  display: flex;
  align-content: center;
  align-items: center;
}