.footer{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Arimo';
}
.footer p{
  font-family: 'Arimo';
}

.top{
  width: 100%;
  height: 40%;

  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: #d7e6f5;
  justify-content: center;
  align-items: center;
  
}

.footer-column-header{
  color: white;
  font-size: 16px;
}

.footer-column-tag{
  color: white;
  font-size: 12px;
}

.footer-column-tag:hover{
  text-decoration: underline;
  cursor: pointer;
}

.footer-column-button{
  padding: 10px;
  border-radius: 30px;
  border: 3px solid white;
  color: white;
  transition: box-shadow 0.25s;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-column-button:hover{
  box-shadow: 0 0 4px white;
}

.footer-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#input-subscribe{
  position: absolute;
  top: 60px;
  left: 390px;
  // background: gray;
  display: block;
}

#input-subscribe:hover{
  cursor: pointer;
}

.footer-input > input{
  background: white;
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-radius: 25px;
  box-shadow: inset 0 0 2px #222;
  width: 400px;
  height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  transition: border 0.5s;
}

.footer-input > input:hover{
  border: 1px solid black;
}

.top p{
  line-height: 2;
  color: #222;
  font-family: 'Arimo';
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
}

.footer #middle{
  display: flex;
  justify-content: space-around;
  background: #2f466c;
  width: 100%;
  height: 45%;

  box-sizing: border-box;

  // padding-left: 40px;
  // padding-right: 40px;
  padding: 40px;
  line-height: 2;
}

.shop, .sell, .about, .help{
  align-content: center;
}

.footer #bottom{
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;

  background: #232347;

  align-content: center;
}

.footer-icons > i{
  margin-right: 10px;
  color: white;
}

.footer #bottom button{
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.footer #bottom > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-of-column-button{
  margin-bottom: 15px;
}

#bottom-of-column-button{
  margin-top: 15px;
}

#bottom > div > p{
  margin-right: 10px;
  color: white;
  font-size: 12px;
}
#bottom > div > p:hover{
  text-decoration: underline;
  cursor: pointer;
}

#bottom-left-mid{
  padding-left: 5px;
  padding-right: 5px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.shop p:first-child, .sell p:first-child, .about p:first-child, .help > p:first-child {
  font-size: 18px;
  // padding: 15px;
  padding-bottom: 10px;
}

// --------------------------------------------------------------------------------

