
// -----------------------------------------------------------------------------
// both headers styling


.header{
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  display: flex;
  align-items: center;
  // justify-content: center;

  justify-content: space-between;

  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  height: 72px;

  // font-family: Optima, sans-serif;
  font-family: 'Arimo';

}

.header button{
  height: 45px;
  width: 60px;
}

.anon-header-items button{
  border-radius: 20px;
}

.anon-header-items button:hover{
  background-color: #E8E8E8;
}

.header-items{
  display: flex;
  align-items: center;
  margin: 5px;
  margin-left: 15px;
}
.header-items i{
  color: gray;
}

.header-items div:hover{
  color: black;
  cursor: pointer;
}

#second{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.logo{
  font-size: 38px;
  padding-right: 5px;
  // font-family: 'Times New Roman', Times, serif;
  font-family: 'Arimo';
  color: #F1641E;
}

.search-and-icon{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-and-icon i{
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 0;
}

// -----------------------------------------------------------------------------
// user header styling

// #user-header-items{
//   position: relative;
// }


// #user-search{
  // min-width: 500px;
//   width: 100%;
// }

// #user-search:hover{
//   border: 1px solid rgba(34, 34, 34, 0.15);
// }

// #user-search:focus{
//   background-color: white;
// }


#header-item-two{
  border-right: 1px solid lightgray;
  // border-left: 1px solid lightgray;
}

#header-item-two, #header-item-three, #header-item-four{
  padding-left: 8px;
  padding-right: 8px;
}

#header-item-three, #header-item-four{
  border-right: 1px solid lightgray;
}

#header-item-two, #header-item-three, #header-item-four{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header-item-two p, #header-item-three p, #header-item-four p{
  // font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-family: 'Arimo';
  color: gray;
  font-size: 12px;
  padding: 5px;
}

#header-item-four{
  position: relative;
}

#header-item-one{
  padding-left: 30px;
  padding-right: 8px;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: 'Arimo';
  font-weight: lighter;
}

#header-item-one:hover{
  text-decoration: underline;
  color: gray;
}

#user-search-icon{
  display: inline-block;
  position: absolute;
  // right: 380px;
}



#header-item-five{
  padding-left: 10px;
}



// -----------------------------------------------------------------------------
// anon header styling



.search{
  background-color:#F0F0F0;
  width: 100%;
  height: 45px;
  border-radius: 30px;

  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid 	#D8D8D8;
  box-shadow: inset 0 0 2px #000000;
  transition: all .3s;
}

.search:hover{
  border: 1px solid black;
}

.search:focus{
  border: 1px solid black;
  background-color: white;
}

[id^="header-item-"]{
  padding-right: 5px;
  padding-left: 5px;
}

#third{
  padding-left: 30px;
}


// -----------------------------------------------------------------------------


.logo-link{
  display: inline-block;
}

// -----------------------------------------------------------------------------

.user-modal{
  position: absolute;

  display: flex;
  flex-direction: column;

  top: 40px;
  background: white;


  width: 200px;
  border: 1px solid gray;
  box-shadow: 0px 0px 1px gray;
  padding: 10px;
}

.user-modal > div{
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-modal p{
  color: black;
}

.usermodal-profile-block{
  display: flex;
}

.uermodal-profile-info{
  display: flex;
  flex-direction: column;
}

.store-icon{
  color: gray;
  width: 20px;
  height: 20px;
}