
// -----------------------------------------------------------------------------
// both headers styling

.header{
  margin: 0 auto;
  // width: 1330px;
  width: 90%;

  display: flex;
  align-items: center;
  // justify-content: center;

  justify-content: space-between;

  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  height: 65px;

}

.header button{
  height: 45px;
  width: 60px;
  border-radius: 20px;
}

.header button:hover{
  background-color: lightgray;
}

.header-items{
  display: flex;
  align-items: center;
}

#second{
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

// -----------------------------------------------------------------------------
// user header styling

.logo{
  font-size: 38px;
  padding-right: 30px;
}

#user-search{
  min-width: 500px;
}




// -----------------------------------------------------------------------------
// anon header styling



.search{
  background-color: #E8E8E8;
  width: 600px;
  height:42px;
  border-radius: 30px;

  padding-left: 10px;
  padding-right: 10px;

}

.search:hover{
  border: 1px solid black;
}

.search:focus{
  background-color: white;
}

[id^="header-item-"]{
  padding-right: 5px;
  padding-left: 5px;
}



// -----------------------------------------------------------------------------
