.primary-index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1260px;
  width: 90%;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.primary-index > li > ul{
  display: flex;
  flex-direction: row;
}

.header-container{
  display: flex;
  justify-content: left;
  // align-items: left;

  max-width: 1240px;
  width: 100%;
}

.row-header-container{
  width: 100%;
  height: 40px;
  display: flex;
}

.row-header{
  font-size: 14px;
  color:#222;
  font-family: 'Arimo';
  font-weight: 800;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 40px;
  display: flex;
  justify-content: left;
}

.row-header-sub{
  font-size: 12px;
  line-height: 40px;
  font-family: 'Arimo';
  color:#222;
  font-weight: lighter;
  margin-top: 1px;
}

.row-header-sub:hover{
  text-decoration: underline;
  cursor: pointer;
}

.product-row{
  display: flex;
}

.primary-index > li{
  width: 100%;
  display: flex;

  justify-content: center;

}

.primary-index > li > ul{
  width: 100%;
  display: flex;


}

.simple{
  flex: 1 1 auto;
}

.cat-item{
  flex: 1 1 auto;
  // box-shadow: 0 0 2px gray;
  border: 1px solid #D8D8D8;
  padding-bottom: 30px;
  transition: box-shadow 0.4s;
}

.cat-item:hover{
  box-shadow: 0px 0px 3px 2px #D8D8D8;
}