.primary-index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1240px;
  width: 90%;

  margin-top: 20px;
  margin: 0 auto;
}

.primary-index > li > ul{
  display: flex;
  flex-direction: row;
}


.row-header{
  font-size: 14px;
  color:#222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-left: 10px;
}