.index-fake-image{
  height: 150px;
  // width: 180px;
  width: 100%;
  background: black;
  // padding: 10px;
  // margin: 10px;
  // margin-bottom: 2px;

  object-fit: cover;

  border-radius: 4px;
  transition: box-shadow 0.5s;

  // flex-grow: 1;
}

.link-container{
  width: 100%;
}

.index-fake-image:hover{
  box-shadow: 0px 0px 2px 2px gray;
}

.simple, .complex, .category{

  margin-left: 10px;
  margin-right: 10px;

  width: 185px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // flex: 1 1 auto;
}

.simple > div, .complex > div{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.item-labels-simple{
  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  
}

.item-label-top{
  display: flex;

}

.item-labels p{
  font-size: 14px;
  color:#222;
  font-family: 'Arimo';
}

.simple:hover, .complex:hover{
  text-decoration: underline;
}

.category-item-image{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.item-sale-info{
  display: flex;
  position: relative;
}

.item-sale-info p{
  margin-left: 5px;
}

#item-sale-oldprice{
  font-size: 12px;
  color: #4a874f;
}

#item-sale-percentage{
  font-size: 12px;
  color: #4a874f;
}

#item-sale-dash{
  border-bottom: 1px solid #4a874f;
  position: absolute;
  bottom: 5px;
  width: 35px;
}