
.modal-background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .5);
};

.modal-child{
	position: absolute;
	background: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 340px;
	height: 650px;
	z-index: 10;
	display: flex;
  flex-direction: column;
  border-radius: 3px;
  };

.modal-form{
	display: flex;
  flex-direction: column;
  padding: 18px;
  align-items: center;
}
// -------------------------------------------------------------------------------------------------


.form-row{
  width: 100%;
  padding: 10px;
}

.form-row #two, #three{
  padding: 10px;
  width: 100%;
}

.form-row input{
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.form-row label{
  width: 100%;
}

.modal-form button{
  width: 50px;
}

.modal-form #one{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#four {
  display: flex;
  align-items: center;
}

#one button{
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 18px;
  border: 2px solid black;
  font-size: 12px;
  font-weight: 600;
}

#one button:hover{
  box-shadow: 0px 0px 10px 3px lightgray;
}

#one div{
  font-size: 20px;
  font-weight: 600;
}

#four button{
  width: 90%;
}


.login-input{
  border-radius: 5px;
  border: 1px solid lightgray;
}

.login-input:hover{
  border: 1px solid gray;
}

.login-input:focus{
  border: 1px solid black;
}



// login styling 
// ------------------------------------------------------------------------------------------------
// sign up styling


.signup-form-row{
  width: 100%;
  padding: 10px;
}

.signup-form-row input{
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.signup-form-row{
  width: 100%;
  padding: 10px;
}

#signup-one div{
  font-size: 28px;
  font-weight: 600;
}

#signup-one p{
  font-weight: lighter;
}

.signup-form-row button{
  width: 90%;
}