.product-show-container{
  max-width: 1240px;
  // height: 2000px;
  width: 90%;

  margin: 0 auto;

  
}
.product-show-container p{
  // font-family: "Guardian-EgypTT",Arial,sans-serif;
  font-family: 'Arimo';
}

.product{
  width: 100%;
  display: flex;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.photo-reviews{
  width: 70%;
  
  display: flex;
  flex-direction: column;
}

.photo{
  height: 500px;
  padding: 40px;
  margin-right: 20px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-bottom: 1px solid gray;
}

.photo #main-photo{
  width: 500px;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.miniphotos-list{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 15px;
  height: 100%;
}

.miniphoto-container{
  width: 50px;
  height: 50px;
  padding: 2px;
}

.miniphoto{
  border-radius: 3px;
  width: 100%;
  height: 100%;
  transition: box-shadow .4s;
}

.miniphoto:hover{
  cursor: pointer;
  box-shadow: 0 0 4px 1px #222;
}



// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------

.reviews{
  padding: 10px;
}



// -----------------------------------------------------------------------------


.product-details{
  width: 40%;
  // height: 55%;
  height: 700px;
}

.buy-product{
  padding: 10px;
  padding-top: 40px;
  height: 72%;

}

.details{
  padding: 10px;
  height: 40%;
}

.product-details-header{
  margin: 5px 0px;
  font-size: 15px;
  font-family: 'Arimo';
}

#description-body{
  font-size: 14px;
  color: #222222;
  line-height: 15px;
}


.price{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
  color: #222;
  font-family: 'Arimo';

}

.add-to-cart-button{
  margin-top: 100px;
  background: #222222;
  width: 100%;
  color: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 30px;
  transition: box-shadow 0.4s;
}

.add-to-cart-button:hover{
  box-shadow: 0 0 2px 2px #222;
  cursor: pointer;
}

.dropdown-button-container{
  width: 100%;
}

.dropdown-button-container:hover{
  cursor: pointer;
}

.description-body{
  font-size: 15px;
  line-height: 1.2;
}

// -----------------------------------------------------------------------------

.other-products{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.other-products > #section-one, .other-products > #section-two, .other-products > #section-three{
  height: 33%;
  width: 100%;
}

.add-to-cart-shop-name{
  font-size: 16px;
  font-family: 'Arimo';
  // color: #222;
  color: black;
  text-decoration: underline;
  transition: all .3s;
}

.add-to-cart-shop-name:hover{
  color: #222;
}

// _______-----_-__-_-_--_----_____----___----__----__----__---__

.top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars{
  // height: 100px;
  // width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.review-count{
  color:#484848;
  font-size: 12px;
}

.product-title{
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 20px;
  color: 	#303030;
}

.review-meta-info{
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.review-meta-info p{
  font-size: 14px;
  font-family: 'Arimo';
}

.reviews-tab p{
  font-size: 14px;
  font-family: 'Arimo';
  transition: color .4s, text-decoration .4s;
}

.reviews-tab p:hover{
  cursor: pointer;
  color: #989898;
  text-decoration: underline;
}