.product-show-container{
  max-width: 1240px;
  height: 2000px;
  width: 90%;

  margin: 0 auto;
}



.product{
  width: 100%;
  height: 100%;
  display: flex;

}

.photo-reviews{
  width: 70%;
  
  display: flex;
  flex-direction: column;
}

.photo{
  height: 30%;

  // background: gray;

  padding: 40px;
  margin-right: 20px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-bottom: 1px solid gray;
}


.reviews{
  height: 65%;
}

.photo img{
  width: 500px;
  height: 500px;

  object-fit: cover;
}

// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------

.reviews{
  padding: 10px;
}

.reviews p{
  height: 100%;
}

// -----------------------------------------------------------------------------


.product-details{
  width: 40%;
  height: 55%;
}

.buy-product{
  padding: 10px;
  height: 50%;

}

.details{
  padding: 10px;
  height: 50%;
}


// -----------------------------------------------------------------------------

.other-products{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.other-products > #section-one, .other-products > #section-two, .other-products > #section-three{
  height: 33%;
  width: 100%;
}

// _______-----_-__-_-_--_----_____----___----__----__----__---__

.top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gray-text{
  color: #757575;
}

.stars{
  // height: 100px;
  // width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.review-count{
  color: 	#303030;
}

.product-title{
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 20px;
  color: 	#303030;
}