.product-row-container{
  // float: left;
  display: inline block;
  width: 100%;
}

.p-row{
  display: flex;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px){
  .p-row{
    flex-direction: column;
    ul{
      width: 100%;
    }
  }
}

.p-row-half{
  box-sizing: border-box;
  max-width: 50%;
  display: flex;
}

.p-row-half:first-child{
  padding-right: 7px;
}

.p-row-half:last-child{
  padding-left: 7px;
}

.p-row-subheader{
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;

  align-items: center;
}

.p-row-subheader p{
  height: 14px;
  line-height: 14px;
}

#p-row-see-more{
  margin-left: 10px;
  font-size: 11px;
}