

.cart-product-cart-info{
  display: flex;
}


.cart-product-photo-and-link{
  height: 100px;
  width: 100px;
}

.cart-show-product-image{
  height: 100px;
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
}

