.SM-dash-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SM-dash-container p{
  // color: #222;
}

.SML-container{
  width: 100%;
}

.SML-header{
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.SML-header-right{
  display: flex;
}

.SML-header-right-two{
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  background: black;
  opacity: .9;
}

.SML-header-right-two:hover{
  cursor: pointer;
}


.SML-header-right-two-plus{
  font-size: 16px;
  margin-right: 5px;
  color: white;
}

.SML-header-right-two-add{
  font-size: 14px;
  color: white;
  margin-right: 10px;
}