.SML-mid-main{
  width: 80%;
  flex: 1;
}

.SML-mid-main-header{
  display: flex;
}

.SML-mid-main-header-one{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.SML-mid-main-header-two{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.SML-mid-main-header-three{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.SML-mid-main-header-box{
  padding: 10px;
  border: 1px solid gray;
}

#SML-mid-main-box-one{
  display: flex;
}