// conatiner for whole top banner component
.shop-show-banner-container{

  padding-top: 20px;
  padding-bottom: 20px;

  max-width: 1260px;
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

// shop info and image
.shop-show-banner-shop{
  display: flex;
}

// shop owner avatar photo
.shop-owner-avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

// fake image/placeholder
.shop-show-shop-photo{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.add-shop-favorite-button{
  border-radius: 3px;
  background: gray;
  padding: 8px;
  width: 150px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.add-shop-favorite-button:hover{
  background: black;
  color: white;
  cursor: pointer;
}
