// reviews container
.reviews{
  display: inline-block;
}

.reviews p{
  font-family: 'Arimo';
}

// review description/rating/stuff
.reviews-meta-info{
  margin-top: 10px;
  margin-bottom: 10px;
}

// product and shop reviews
.reviews-tabs{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.reviews-tab{
}

// button to change how many reviews are displayed, or to link to shop reviews page
.review-display-button{
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 10px;

}

.review-display-button:hover{
  color: gray;
  cursor: pointer;
}

// container for all reviews in product show page
.reviews-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// single review
.review{
  margin-top: 20px;
  margin-bottom: 20px;
}

// block which contains user avatar, username, timestamp, and start rating  
.review-info-and-avatar{
  display: flex;

  
  height: 60px;
  width: 300px;
}

.review-info{
  margin-left: 10px;
}

// block containing username and timestamp of review
.review-username-and-time{
  display: flex;
  align-items: center;
  width: 240px;
  font-size: 14px;
  color: #222;
}

// name of user who left review
.review-username{
  text-align: center;
  margin-right: 10px;
  transition: color 0.4s, text-decoration 0.4s;
}

.review-username:hover{
  color:	#989898;
  cursor: pointer;
  text-decoration: underline;
}

// when review was left
.review-timestamp{
  margin-left: 5px;
  text-align: center;
}

// review author photo
.review-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

// actual star rating
.review-star-rating{
  margin-top: 7px;
}

// review body
.user-review-body{
  margin-left: 60px;
  margin-bottom: 10px;
  width: 600px;
  font-family: 'Arimo';
  font-size: 14px;
  color: #222;
}

// product img and name
.product-img-and-name{
  display: flex;
  margin-left: 60px;
  align-items: center;
}

// product img
.product-img-and-name img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  object-fit: cover;
}

.product-img-and-name > p{
  color:#484848;
  text-decoration: underline;
  font-size: 12px;
  font-family: 'Arimo';
  transition: color 0.4s;
}

.product-img-and-name > p:hover{
  color:#A8A8A8;
  cursor: pointer;
}

.review-product-image{
  border-radius: 3px;
  transition: box-shadow 0.4s;
}

.review-product-image:hover{
  box-shadow: 0 0 1px 1px #222;
  cursor: pointer;
}