// overall shop preview container
.shop-preview-container{

}

.shop-preview-container p{
  font-family: 'Arimo';
  font-size: 14px;
}


// shop products
.shop-preview-products-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

// fake shop avatar 
.fake-shop-preview-photo{
  height: 70px;
  width: 70px;
  background: black;
  border-radius: 3px;
  transition: box-shadow 0.4s;
}

.fake-shop-preview-photo:hover{
  box-shadow: 0 0 1px 1px #222;
  cursor: pointer;
}

.shop-preview-info-and-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shop-preview-info-and-name{
  display: flex;
  align-items: center;
}

.shop-preview-shop-name{
  font-size: 14px;
  margin-right: 10px;
  transition: color 0.4s, text-decoration 0.4s;
}

.shop-preview-shop-name:hover{
  text-decoration: underline;
  color:	#989898;
  cursor: pointer;
}

// both rows of shop info
.shop-preview-info{
  display: flex;
  flex-direction: column;
}

// bar of info
.shop-preview-info-upper{
  display: flex;
}

.shop-preview-info-upper p{
  margin-left: 5px;
}

// bar of info
.shop-preview-info-lower{
  display: flex;
  margin-top: 5px;
}

.shop-preview-info-lower p{
  margin-left: 5px;
  margin-right: 5px;
}

.shop-preview-link{
  font-size: 14px;
  transition: color 0.4s, text-decoration 0.4s; 
}

.shop-preview-link:hover{
  text-decoration: underline;
  color:	#989898;
  cursor: pointer;
}