// overall shop preview container
.shop-preview-container{

}


// shop products
.shop-preview-products-container{
  display: flex;
  justify-content: space-between;
}

// fake shop avatar 
.fake-shop-preview-photo{
  height: 70px;
  width: 70px;
  background: black;
}

.shop-preview-info-and-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shop-preview-info-and-name{
  display: flex;
  align-items: center;
}

// both rows of shop info
.shop-preview-info{
  display: flex;
  flex-direction: column;
}

// bar of info
.shop-preview-info-upper{
  display: flex;
}

.shop-preview-info-upper p{
  margin-left: 5px;
}

// bar of info
.shop-preview-info-lower{
  display: flex;
}

.shop-preview-info-lower p{
  margin-left: 5px;
  margin-right: 5px;
}